body{
    background-color: black;
    
}

@font-face {
    font-family: 'Roboto Mono', monospace;
    src: url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');
    font-weight: normal;
}

h1{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    color: #00A1FF;
    font-size: 8em;
    margin-top: 90px;
    margin-bottom: 10px;
}
.container{
    max-width: 560px;
    height: 100px;
    margin: auto;
    text-align: center;
}

.iniciar{
    background-color: #0d925481 ;
    color:gold;  
}

.pausar{
    background-color: #cebe33;
    color:#00A1FF;
}

.limpar{
    background-color: #4d0707;
    color:aquamarine;
}

button{
    font-family: 'Macondo', cursive;
    font-weight: bold;
    cursor: pointer;
    padding: 8px;
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
    font-size: 1em;
    border-radius: 20px;
    margin: 5px;
    border: none;
}
